  /*---------------COMMON---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: "../fonts/OpenSans-Regular.ttf";
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: "../fonts/OpenSans-Bold.ttf";
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }
  
  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }
  
  p {
    font-size: 15px;
    color: #0f0d0e;
    font-weight: normal;
  }
  
  /*---------------POPUP---------------*/
 
  .popup__hidden {
    display: none;
    justify-content: center;
    align-items: center;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    
    z-index: 999;
  }
  
  .popup-container {
    position: relative;
    max-width: 390px;
    width: 95%;
    padding: 54px 30px;
    margin: auto;
  
    background-color: #ffffff;
  }
  
  .popup-title {
    font-size: 20px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  
    color: #0f0d0e;
  }
  
  .popup-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 27px;
  
    background-color: #e1d9bd;
  }
  
  .form-row {
    margin-bottom: 27px;
  }
  
  .select-group {
    display: block;
  }
  
  .select-label {
    display: block;
    margin-bottom: 8px;
  
    font-family: Open Sans, arial, sans-serif;
    font-size: 13px;
    font-weight: regular;
  }
  
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 48px;
    padding-left: 18px;
    padding-right: 14px;
  
    border: none;
  
    font-family: Open Sans, arial, sans-serif;
    font-size: 13px;
    font-weight: regular;
    color: #919292;
  
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: right 14px center;
  
    background-color: #f4f7f6;
  }
  
  .select:focus {
    outline: 1px solid #b59f5b;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
  
    font-family: Open Sans, arial, sans-serif;
    font-size: 13px;
    font-weight: regular;
  }
  
  .radio-group {
    display: inline-block;
    margin-right: 10px;
  }
  
  .radio{
    display: none;
  }
  
  .radio-group-text {
    font-family: Open Sans, arial, sans-serif;
    font-size: 13px;
    font-weight: regular;
  }
  
  .radio-group {
    display: inline-block;
    margin-right: 10px;
  }
  
  .radio{
    display: none;
  }
  
  .radio-group-text {
    font-family: Open Sans, arial, sans-serif;
    font-size: 13px;
    font-weight: regular;
  }
  
  .radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  
    width: 18px;
    height: 18px;
    margin-right: 4px;
  
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }
  
  .radio:checked ~ .radio-group-text::before {
    background-image:  url("../svg/form-circle.svg");
  }
  
  .field-textarea {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
    padding: 20px;
    border: none;
  
    font-family: Open Sans, arial, sans-serif;
    font-size: 13px;
    font-weight: regular;
  
    background-color: #f4f7f6;
  }
  
  .field-textarea:focus {
    outline: 1px solid #b59f5b;
  }
  
  .button-form {
    width: 100%;
    height: 48px;
    border: none;
  
    font-size: 14px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  
    background-color: #b59f5b;
    cursor: pointer;
  }
  
  .button-form:focus {
    outline: 1px solid #e1d9bd;
  }
  
  .popup-close {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 0;
    top: -27px;
    border: none;
  
    background-color: transparent;
    background-image: url("../svg/form-x.svg");
  
    cursor: pointer;
  }
  
  /*---------------HEADER---------------*/
  .header {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #0d1322;
  
    position: relative;
    z-index: 0;
  }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  
  .header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    width: 179px;
  }
  
  .menu {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
  }
  
  .menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  
    list-style-type: none;
  }
  
  .menu-list-item {
    padding-right: 35px;
  }
  
  .menu-burger {
    width: 25px;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
  }
  
  .menu-burger-label,
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
  }
  
  .menu-burger::before {
    top: 0;
  }
  
  .menu-burger-label {
    top: 10px;
  }
  
  .menu-burger::after {
    top: 20px;
  }
  
  h1 {
    width: 70%;
    padding-top: 125px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
  }
  
  @media (min-width: 1200px) {
    .header {
      background-image: url("../images/banner-bg.jpg");
      padding-top: 2rem;
      padding-bottom: 11rem;
    }
  
    .header-container {
      width: 1200px;
      margin: auto;
    }
  
    .header-title {
      width: 52%;
      font-size: 45px;
      padding-top: 7.25rem;
    }
  
    .menu-burger {
      display: none;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      background-image: url("../images/banner-bg-tablet.jpg");
  
      padding-top: 2.5rem;
      padding-bottom: 7.6rem;
    }
  
    .header-container {
      width: 95%;
      margin: auto;
    }
  
    .menu-list {
      display: none;
    }
  
    .header-title {
      font-size: 40px;
      width: 85%;
      padding-top: 6.25rem;
    }
  }
  
  @media (max-width: 640px) {
    .header {
      background-image: url("../images/banner-mobile.jpg");
  
      padding-top: 2rem;
      padding-bottom: 13.5rem;
    }
  
    .header-container {
      width: 95%;
      margin: auto;
    }
  
    .header-title {
      font-size: 26px;
      width: 73%;
      padding-top: 2.5rem;
    }
  
    .header-row {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .header-logo {
      width: 270px;
    }
  
    .menu-list {
      display: none;
    }
  
    .menu-burger {
      width: 25px;
      padding-bottom: 10.5rem;
      border: none;
      position: relative;
      cursor: pointer;
      background-color: transparent;
    }
  
    .menu-burger-label,
    .menu-burger::before,
    .menu-burger::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 25px;
      height: 3px;
      background-color: #ffffff;
    }
  }
  
  .category-list {
    padding-bottom: 3%;
  }
  
  .category-list-item {
    font-size: 15px;
    color: #b3a168;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /*---------------TREND---------------*/
   .trends-wrapper {
  margin-top: 60px;
}

.trends-title {
  font-size: 20px;
  font-family: Open Sans, arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #0f0d0e;
}

.trends-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

  background-color: #e1d9bd;
}

.trends-posts {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.trends-post-section {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: calc(25% - 3px);
  min-height: 320px;
  padding: 20px;

  background-size: cover;
}

.trends-post-section {
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;

  background-size: cover;
  padding: 20px;
}

.seedlings {
  background-image: url("../images/trend1.jpg");
  background-color: #000000;
}

.picture-cheeses-tastes {
  background-image: url("../images/trend2.jpg");
  background-color: #000000;
}

.gorgeous view {
  background-image: url("../images/trend3.jpg");
  background-color: #000000;
}

.vitamin-c-in-lemons {
  background-image: url("../images/trend4.jpg");
  background-color: #000000;
}

.trends-post-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000000;
  opacity: 0.6;
}

.trends-post-info {
  position: relative;
  width: 100%;
  flex-grow: 1;
  z-index: 2;
  border: 3px solid #b59f5b;
  padding: 25px;
}

.trends-tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;

  list-style: none;
}

.trends-tags-item {
  margin-right: 20px;
}

.trends-tags-link {
  font-size: 14px;
  font-family: Open Sans, arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  color: #b59f5b;
}

.trends-tags-link:hover {
  text-decoration: underline;
}

.trends-post-link {
  font-size: 20px;
  font-family: Open Sans, arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
}

.trends-post-link:hover {
  color: #b59f5b;
}

  /*---------------MAIN---------------*/
  .content {
    display: flex;
    max-width: 1200px;
    margin: 60px auto 0;
    justify-content: space-between;
  }
  
  .posts-container {
    display: flex;
    flex-direction: column;
  }
  
  .post-card {
    display: flex;
  }
  
  .post-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .post-info {
    display: flex;
    padding-top: 30px;
  }
  
  .post-title-link {
    color: #0f0d0e;
  }
  
  time {
    font-size: 12px;
    color: #888888;
  }
  
  .post-author {
    font-size: 12px;
    color: #0f0d0e;
    font-weight: bold;
    padding-left: 15px;
  }
  
  .post-preview {
    padding-top: 20px;
    font-size: 15px;
    color: #0f0d0e;
    line-height: 1.467;
  }
  
  /*---------------SIDE-BAR---------------*/
  .side-bar-container {
    display: flex;
    flex-direction: column;
  }
  
  .latest-posts-title {
    color: #0f0d0e;
    font-size: 14px;
    text-align: center;
  }
  
  .latest-posts-title:after {
    content: "";
    display: block;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 66px;
    height: 3px;
    background-color: #b3a168;
  }
  
  .latest-post {
    display: flex;
    margin-top: 20px;
  }
  
  .latest-post-title-link {
    color: #0f0d0e;
    font-size: 14px;
  }
  
  .latest-post-info {
    margin-left: 10px;
  }
  
  @media (min-width: 1200px) {
    .posts-container {
    width: 65%;
  }
    
    .post-container {
      padding-left: 10px;
    }
  
    .post-card:not(:first-child) {
      margin-top: 50px;
    }
  
    .post-img {
      width: 380px;
      margin-right: 30px;
    }
    
    .side-bar-container {
    width: 25%;
  }
  }
  
  @media (min-width: 641px) and (max-width: 1199px) {
    .content {
      margin: 50px 35px 0;
  }
    
    .posts-container {
    width: 55%;
  }
  
  .side-bar-container {
    width: 40%;
  }
    
    .post-card {
      flex-direction: column;
      margin-left: 10px;
    }
  
    .post-card:not(:first-child) {
      margin-top: 40px;
    }
  
    .post-container {
      margin-top: 15px;
      padding-bottom: 20px;
    }
  
     .post-card:not(:last-child) {
      border-bottom: solid 3px #eeeeee;
    }
    
     .post-container:last-child {
      border-bottom: hidden;
    }
  
    
    .post-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  @media (max-width: 640px) {
    .content {
      flex-direction: column;
      margin: 45px 15px 0;
    }
  
    .posts-container {
      width: 100%;
    }
  
    .post-card {
      flex-direction: column;
    }
  
    .post-card:not(:first-child) {
      margin-top: 40px;
    }
  
    .post-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .post-container {
      margin-top: 15px;
      padding-bottom: 20px;
    }
  
    .post-card:not(:last-child) {
      border-bottom: solid 3px #eeeeee;
    }
  
    .side-bar-container {
      margin-top: 45px;
      width: 100%;
    }
  }
  
  .search {
    padding-top: 60px;
    display: flex;
  }
  
  form {
    position: relative;
  }
  
  input {
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    background: #ffffff;
  }
  
  .search-form {
    display: flex;
    width: 100%;
  }
  
  label.search-group {
    width: 100%;
  }
  
  .button-search {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 47px;
    height: 47px;
    border: none;
  
    background-image: url("../svg/search.svg");
    background-color: #b19f64;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }
  
  .subscription {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
  }
  
  .subscription-title:after {
    content: "";
    display: block;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 66px;
    height: 3px;
    background-color: #b3a168;
  }
  
  .button-subscription {
    box-sizing: border-box;
    margin-top: 15px;
    top: 0px;
    right: 0px;
    height: 47px;
    width: 100%;
    border: none;
  
    background-color: #b19f64;
  
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .tags {
    padding-top: 30px;
    text-align: center;
  }
  
  .tags-title:after {
    content: "";
    display: block;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 66px;
    height: 3px;
    background-color: #b3a168;
  }
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    margin: 6px;
    border: 2px solid #dfdee8;
    padding: 8px;
  }
  
  .tag-link {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  
  .categories-section {
    padding-top: 30px;
  }
  
  .categories-section-title {
    text-align: center;
  }
  
  .categories-section-title:after {
    content: "";
    display: block;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 66px;
    height: 3px;
    background-color: #b3a168;
  }
  
  .category-section {
    border-bottom: 1px solid #dfdee8;
    padding: 10px 10px 10px 0;
  }
  
  .category-section-link {
    font-size: 14px;
    font-weight: bold;
    color: #0f0d0e;
  }
  
  sup {
    font-size: 14px;
    font-weight: bold;
    color: #b3a168;
    padding-left: 3px;
  }
  
  /*---------------SHOP---------------*/
   
  .shop-wrapper {
    max-width: 1200px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .shop-title {
    font-size: 20px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  
    color: #0f0d0e;
  }
  
  .shop-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
  
    background-color: #e1d9bd;
  }
  
  .shop-products {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
  }
  
  .product-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-image {
    padding: 30px 20px;
  }
  
  .product-info {
    flex: 2;
    padding: 20px;
    margin-top: -60px;
    
    border: 2px solid #b59f5b;
  }
  
  .product-info-title {
    margin-top: 10px;
  }
  
  .product-info-link {
    font-size: 20px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
  
    color: #0f0d0e;
  }
  
  .product-info-link:hover {
    color: #b59f5b;
  }
  
  .product-description {
    margin-bottom: 20px;
  }
  
  .product-description-text {
    font-size: 15px;
    font-family: Open Sans, arial, sans-serif;
    line-height: 1.5;
    font-weight: regular;
  
    color: #0f0d0e;
  }
  
  .description-link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .description-link:hover {
    text-decoration: underline;
  }
  
  .product-purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .old-price {
    display: block;
  
    font-size: 14px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    text-decoration: line-through;
  }
  
  .new-price {
    display: block;
  
    font-size: 20px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    line-height: 0.8;
  }
  
  .shop-product {
    display: flex;
    width: 140px;
    height: 49px;
  
    background-color: #b59f5b;
  }
  
  .shop-link {
    margin: auto;
  
    font-size: 14px;
    font-family: Open Sans, arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  
    color: #ffffff;
  }

  /*---------------FOOTER---------------*/
  .footer {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1200px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f7f6;
  }
  
  .socials-list {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  
  .socials-list-item:not(:first-child) {
    padding-left: 20px;
  }
  
  .socials-link {
    display: flex;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }
  
  .social-twitter {
    background-image:  url("../svg/004-twitter.svg");
  }
  
  .social-pinterest {
    background-image: url("../svg/001-pinterest.svg");
  }
  
  .social-facebook {
    background-image: url("../svg/facebook-rounded-border-svgrepo-com.svg");
  }
  
  .social-instagram {
    background-image: url("../svg/instagram-svgrepo-com.svg");
  }
  
  .social-tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .copyright {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-align: center;
    margin-top: 75px;
  }
